@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    background-color: #f4f4f9;
    color: #333;
}
.title {
    text-align: center;
    background-color: rgb(21, 248, 240);
    padding: 10px;
    margin: 20px auto;
    width: fit-content;
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.entry-title , .preview-title {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding: 15px;
}

.form-section, .result-preview {
    padding: 15px;
    background: #dff6f0;
    margin-top: 10px;
}

.marks-input input {
    width: 100%;
    padding: 5px;
}

.label {
    font-weight: bold;
    padding: 10px 0;
}

.total-section {
    text-align: center;
    font-size: 36px;
    background: #fff;
    border: 1px solid #ccc;
}

.total {
    font-size: 48px;
    font-weight: bold;
}

#total-marks {
    border-bottom: 2px solid black;
}

.max-marks {
    font-size: 24px;
    color: #777;
}
.buttons {
    text-align: right;
    padding-top: 10px;
}

.buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    background: red;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.buttons button:last-child {
    background: #888;
}

.result-table {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-spacing: 0;
}

.result-table td{
    padding: 10px;
    border: 1px solid #ccc;
}

.percent {
    font-size: 36px;
    text-align: center;
}

.result {
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.external-links button {
    padding: 10px 20px;
    background-color: #a2c9e2;
    color: rgb(27, 26, 26);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.external-links a {
    text-decoration: none;
    background-color: #a2c9e2;
    font-size: 20px;
    color: blue;
}

.external-links a:hover {
    color: red;
}